* {
	FONT-SIZE: 1em
}
A {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #003d50; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #2166ac
}
ABBR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; CURSOR: default; BORDER-RIGHT: medium none
}
ACRONYM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; CURSOR: default; BORDER-RIGHT: medium none
}
DIV.a_blocappli ABBR {
	BORDER-BOTTOM: #000 1px dotted
}
DIV.a_blocappli ACRONYM {
	BORDER-BOTTOM: #000 1px dotted
}
DFN {
	BORDER-BOTTOM: #000 1px dotted
}
ABBR[title] {
	BORDER-BOTTOM: #666 1px dotted; CURSOR: help
}
ACRONYM[title] {
	BORDER-BOTTOM: #666 1px dotted; CURSOR: help
}
BODY {
	BACKGROUND-COLOR: #e3ebed; FONT-SIZE: 69%
}
BODY {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
TD {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
TH {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
CAPTION {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
H2 {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
H3 {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
H4 {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
H5 {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
H6 {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
DIV {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
P {
	FONT-FAMILY: Verdana,arial,Helvetica,sans-serif; COLOR: #000
}
CAPTION {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #2165ac; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
CAPTION SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #2165ac; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
CAPTION {
	COLOR: #fff !important
}
CAPTION SPAN {
	COLOR: #fff !important
}
CAPTION A {
	COLOR: #fff !important
}
HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #c4cbcb; HEIGHT: 1px; COLOR: #c4cbcb; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
DIV {
	TEXT-ALIGN: left
}
P {
	TEXT-ALIGN: left
}
LI {
	TEXT-ALIGN: left
}
EM STRONG {
	COLOR: #2166ac
}
STRONG EM {
	COLOR: #2166ac
}
EM EM {
	COLOR: #2166ac
}
STRONG STRONG {
	COLOR: #2166ac
}
FIELDSET {
	BORDER-BOTTOM: #2165ac 1px solid; BORDER-LEFT: #2165ac 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 5px; BORDER-TOP: #2165ac 1px solid; BORDER-RIGHT: #2165ac 1px solid; PADDING-TOP: 0px
}
DIV.a_blocappli DIV.a_blocfctl FIELDSET {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
INPUT {
	FONT-SIZE: 1em
}
SELECT {
	FONT-SIZE: 1em
}
LEGEND {
	BORDER-BOTTOM: #2165ac 1px solid; BORDER-LEFT: #2165ac 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #2165ac; MARGIN: 5px 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #fff; FONT-SIZE: 1.1em; BORDER-TOP: #2165ac 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #2165ac 1px solid; PADDING-TOP: 1px
}
P {
	MARGIN: 3px
}
TEXTAREA {
	FONT-SIZE: 1em
}
TH {
	TEXT-ALIGN: center; VERTICAL-ALIGN: top; FONT-WEIGHT: bold
}
TH.d {
	TEXT-ALIGN: center !important
}
TH.g {
	TEXT-ALIGN: center !important
}
UL {
	LIST-STYLE-TYPE: none
}
DIV.i_blocredac UL {
	LIST-STYLE-TYPE: disc; MARGIN: 6px 0px; PADDING-LEFT: 20px; LIST-STYLE-IMAGE: url(../images/css/v3base/puce.gif)
}
DIV.i_blocredac UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD.i_bloccold SELECT {
	WIDTH: 175px
}
.AIDE {
	FONT-STYLE: italic; FONT-SIZE: 0.9em; FONT-WEIGHT: normal
}
.ALERTE {
	BACKGROUND-COLOR: #fcd9da; COLOR: #ff1f00
}
.decal1 {
	PADDING-LEFT: 15px !important
}
.i {
	BACKGROUND-COLOR: #fff !important
}
.p {
	BACKGROUND-COLOR: #e8eff7 !important
}
.renvoi {
	COLOR: #000; FONT-SIZE: 0.8em
}
.rupture {
	BACKGROUND-COLOR: #2165ac !important; COLOR: #fff !important
}
.rupture SPAN {
	BACKGROUND-COLOR: #2165ac !important; COLOR: #fff !important
}
.rupture A {
	BACKGROUND-COLOR: #2165ac !important; COLOR: #fff !important
}
.rupture A.afficher {
	TEXT-DECORATION: none
}
.rupture A.masquer {
	TEXT-DECORATION: none
}
.tittot {
	BACKGROUND-COLOR: #c5d8e7 !important; COLOR: #003d50; FONT-WEIGHT: bold
}
.tot {
	BACKGROUND-COLOR: #c5d8e7 !important; COLOR: #003d50; FONT-WEIGHT: bold
}
.aplat1 {
	BACKGROUND-COLOR: #fff
}
.aplat1 .aplat1 {
	BACKGROUND: url(../images/css/v3base/dg-focus.gif) #fff repeat-x left top
}
.aplat2 {
	BACKGROUND-COLOR: #058700; COLOR: #fff
}
.aplat2 .aplat2 {
	PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #05a900; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.marges {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.bord1 {
	BORDER-BOTTOM: #d7dcdc 1px solid; BORDER-LEFT: #d7dcdc 1px solid; BORDER-TOP: #d7dcdc 1px solid; BORDER-RIGHT: #d7dcdc 1px solid
}
.bord2 {
	
}
.decal1 {
	PADDING-LEFT: 15px !important
}
SELECT#gamme {
	MARGIN-TOP: 4px; WIDTH: 170px; COLOR: #000000; FONT-SIZE: 110%
}
.retour {
	FONT-STYLE: italic; PADDING-LEFT: 8px; BACKGROUND: url(../images/css/v3base/retpagpre.gif) no-repeat left center; FLOAT: left; COLOR: #000; FONT-WEIGHT: bold
}
TD.i_bloccold {
	BORDER-BOTTOM: #c4cbcb 1px solid; BORDER-LEFT: #c4cbcb 1px solid; PADDING-BOTTOM: 3px !important; PADDING-LEFT: 3px !important; WIDTH: 178px; PADDING-RIGHT: 3px !important; BACKGROUND: url(../images/css/v3base/int-left-fnd.gif) repeat-y left top; VERTICAL-ALIGN: top; BORDER-TOP: #c4cbcb 1px solid; BORDER-RIGHT: #c4cbcb 1px solid; PADDING-TOP: 3px !important
}
A.act {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/css/v3base/pcact.gif) no-repeat left top; PADDING-TOP: 0px
}
SPAN.act {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/css/v3base/pcact.gif) no-repeat left top; PADDING-TOP: 0px
}
A.act SPAN {
	COLOR: #003d50; FONT-WEIGHT: bold
}
SPAN.act SPAN {
	COLOR: #003d50; FONT-WEIGHT: bold
}
SPAN.act A {
	FONT-WEIGHT: bold
}
A.actual {
	PADDING-LEFT: 16px !important; BACKGROUND: url(../images/css/v3base/pcactual.gif) no-repeat left top
}
A.imp {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; WIDTH: 95px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/css/v3base/pcactimp.gif) no-repeat left top; HEIGHT: 22px; PADDING-TOP: 2px
}
A.mod {
	FONT-WEIGHT: bold
}
A.sup {
	FONT-WEIGHT: bold
}
SPAN.off {
	PADDING-LEFT: 16px !important; BACKGROUND: url(../images/css/v3base/icocroix.gif) no-repeat left center
}
UL.a_actions LI {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 12px; PADDING-TOP: 6px
}
UL.a_actions LI.imp {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 1px; PADDING-TOP: 3px
}
UL.a_actions {
	
}
DIV.a_blocongfond DIV.a_blocfctltitre UL.a_actions {
	
}
DIV.blocbulle UL {
	BACKGROUND-COLOR: #fff
}
DIV.blocbulle UL LI A:hover {
	BACKGROUND-COLOR: #e6e2e9
}
DIV.i_blocactions UL {
	LIST-STYLE-TYPE: disc; LIST-STYLE-IMAGE: url(../images/css/v3base/pcaction.gif)
}
DIV.i_blocactions UL A {
	TEXT-DECORATION: none
}
DIV.i_blocactions UL A:hover {
	TEXT-DECORATION: underline
}
DIV.i_blocactions UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.i_blocactions UL LI.sep {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 3px
}
TD.rupture A {
	COLOR: #fff; TEXT-DECORATION: none
}
TD.rupture A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.aplat2 .aplat2 P A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; PADDING-TOP: 3px
}
.aplat2 P A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; PADDING-TOP: 3px
}
TABLE.LISTE TH A {
	COLOR: #003d50; TEXT-DECORATION: underline
}
TABLE.FICHE TH A {
	COLOR: #003d50; TEXT-DECORATION: underline
}
TABLE.tab2dim TH A {
	COLOR: #003d50; TEXT-DECORATION: underline
}
DIV.err A {
	COLOR: #003d50; TEXT-DECORATION: underline
}
.rupture A {
	COLOR: #003d50; TEXT-DECORATION: underline
}
DIV.blocboutons A {
	COLOR: #003d50; TEXT-DECORATION: underline
}
TABLE.LISTE TH A {
	FONT-WEIGHT: normal
}
TABLE.tab2dim TH.titcol A {
	FONT-WEIGHT: normal
}
TABLE.LISTE TD A {
	FONT-WEIGHT: bold
}
DIV.blocboutons IMG:hover {
	BACKGROUND: url(../images/css/v3base/bouton_hover.gif) no-repeat left top
}
DIV.blocboutons INPUT:hover {
	BACKGROUND: url(../images/css/v3base/bouton_hover.gif) no-repeat left top
}
A.cb {
	PADDING-LEFT: 27px; BACKGROUND: url(../images/css/v3base/icocb.gif) no-repeat left top
}
A.ctx {
	FONT-WEIGHT: normal !important
}
DIV.i_blocredac A.ctx {
	PADDING-LEFT: 7px; BACKGROUND: url(../images/css/v3base/pcctx.gif) no-repeat left top; FONT-SIZE: 0.75em; TEXT-DECORATION: none
}
DIV.i_blocappli A.ctx {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 0px; TEXT-DECORATION: underline
}
DIV.i_blocredac A.ctx:hover {
	TEXT-DECORATION: underline
}
A.popaide {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 91px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/css/v3base/popaide.gif) no-repeat left top; HEIGHT: 18px; MARGIN-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
UL.a_menuappli LI A.popaide {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 91px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/css/v3base/popaide.gif) no-repeat left top; HEIGHT: 18px; MARGIN-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
A.popaide SPAN {
	COLOR: #003d50
}
A.popvideo {
	BACKGROUND: url(../images/css/v3base/icovideo.gif) no-repeat left top
}
A.popbulle {
	
}
A.popcallback {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 50px; WIDTH: 161px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/css/v3base/rappel_conseiller.gif) no-repeat left center; TEXT-DECORATION: none; PADDING-TOP: 21px
}
A.popcallback {
	COLOR: #fff
}
A.popcallback SPAN {
	FONT-WEIGHT: bold
}
A.popcallback:hover {
	COLOR: #fff !important; FONT-WEIGHT: bold
}
A.popmenu {
	FONT-WEIGHT: bold !important
}
A.prive {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/css/v3base/acces-prive.gif) no-repeat left top; PADDING-TOP: 0px
}
A.renvoi {
	PADDING-LEFT: 3px; FONT-SIZE: 0.8em; TEXT-DECORATION: underline
}
A.suite {
	TEXT-DECORATION: underline
}
A.suite:hover {
	TEXT-DECORATION: underline
}
A.triasc {
	PADDING-BOTTOM: 5px; WIDTH: 100%; TEXT-DECORATION: none !important
}
A.trioff {
	PADDING-BOTTOM: 5px; WIDTH: 100%; TEXT-DECORATION: none !important
}
A.tridesc {
	PADDING-BOTTOM: 5px; WIDTH: 100%; TEXT-DECORATION: none !important
}
DIV.blocbulle UL LI A {
	PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; PADDING-TOP: 2px
}
DIV.blocbulle UL.a_actions A {
	PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; PADDING-TOP: 2px
}
DIV.blocbulle UL LI A:hover {
	BACKGROUND-COLOR: #f5f5fb
}
DIV.blocpaginh A {
	COLOR: #003e4d
}
DIV.blocpaginb A {
	COLOR: #003e4d
}
DIV.a_blocfctltitre P A {
	COLOR: #fff
}
DIV.a_blocfctltitre P.a_options A:hover {
	COLOR: #cff
}
DIV.a_blocfctltitre P.a_options A.afficher {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 1px; PADDING-TOP: 0px
}
DIV.a_blocfctltitre P.a_options A.masquer {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 1px; PADDING-TOP: 0px
}
DIV.a_blocfctltitre P.a_options A.afficher:hover {
	BACKGROUND-COLOR: transparent
}
DIV.a_blocfctltitre P.a_options A.masquer:hover {
	BACKGROUND-COLOR: transparent
}
DIV.a_blocfctltitre P.a_titre2 A {
	COLOR: #fff; FONT-WEIGHT: bold
}
DIV.a_blocfctltitre P.a_titre2 A:hover {
	
}
DIV.a_blocongh UL A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/css/v3base/a_ohnsr.gif) no-repeat right top; HEIGHT: 31px; PADDING-TOP: 8px
}
DIV.a_blocongh UL SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/css/v3base/a_ohnsr.gif) no-repeat right top; HEIGHT: 31px; PADDING-TOP: 8px
}
DIV.a_blocongh UL LI.sel A {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohsr.gif)
}
DIV.a_blocongh UL LI.sel SPAN {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohsr.gif)
}
DIV.a_blocongh UL LI.recapsel A {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohsr.gif)
}
DIV.a_blocongh UL LI.recapsel SPAN {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohsr.gif)
}
DIV.a_blocongh UL LI.ina SPAN {
	BACKGROUND: url(../images/css/v3base/a_ohinar.gif) no-repeat right top
}
DIV.a_blocongh UL LI.recapina SPAN {
	BACKGROUND: url(../images/css/v3base/a_ohinar.gif) no-repeat right top
}
DIV.a_blocongh UL A {
	COLOR: #2165ac; FONT-WEIGHT: normal
}
DIV.a_blocongh UL SPAN {
	COLOR: #2165ac; FONT-WEIGHT: normal
}
DIV.a_blocongv UL A {
	COLOR: #2165ac; FONT-WEIGHT: normal
}
DIV.a_blocongv UL SPAN {
	COLOR: #2165ac; FONT-WEIGHT: normal
}
DIV.a_blocongh LI.sel A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongh LI.sel SPAN {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongh LI.recapsel A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongh LI.recapsel SPAN {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongv LI.sel A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongv LI.sel SPAN {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongv LI.recapsel A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongv LI.recapsel SPAN {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.a_blocongh LI.ina SPAN {
	COLOR: #666
}
DIV.a_blocongh LI.recapina SPAN {
	COLOR: #666
}
DIV.a_blocongv LI.ina SPAN {
	COLOR: #666
}
DIV.a_blocongv LI.recapina SPAN {
	COLOR: #666
}
DIV.a_blocongv UL A {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #c6def7; PADDING-LEFT: 7px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.a_blocongv UL SPAN {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #c6def7; PADDING-LEFT: 7px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.a_blocongv LI.ina SPAN {
	BACKGROUND-COLOR: #d8d8d8
}
DIV.a_blocongv LI.recapina SPAN {
	BACKGROUND-COLOR: #d8d8d8
}
DIV.a_blocongv LI.sel A {
	BACKGROUND: url(../images/css/v3base/a_ovsb.gif) no-repeat left bottom
}
DIV.a_blocongv LI.recapsel A {
	BACKGROUND: url(../images/css/v3base/a_ovsb.gif) no-repeat left bottom
}
DIV.a_blocongv LI.sel SPAN {
	BACKGROUND: url(../images/css/v3base/a_ovsb.gif) no-repeat left bottom
}
DIV.a_blocongv LI.recapsel SPAN {
	BACKGROUND: url(../images/css/v3base/a_ovsb.gif) no-repeat left bottom
}
DIV.i_bloccallback A {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 53px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/css/v3base/visuel-conseiller.jpg) #05a900 no-repeat left top; COLOR: #fff; FONT-SIZE: 1.3em; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
DIV.i_bloccallback A:hover {
	COLOR: #fff
}
P.chapeau A {
	COLOR: #2165ac
}
P.rethaupag A {
	COLOR: #2165ac; TEXT-DECORATION: none
}
P.fermer A {
	COLOR: #2165ac; TEXT-DECORATION: none
}
P.rethaupag A {
	PADDING-RIGHT: 15px; BACKGROUND: url(../images/css/v3base/pagrethau.gif) no-repeat right top
}
P.fermer A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; BACKGROUND: url(../images/css/v3base/icofermer.gif) no-repeat right top; HEIGHT: 15px; PADDING-TOP: 1px
}
P.restriction A {
	COLOR: #003d50 !important; FONT-WEIGHT: normal
}
P.rethaupag A:hover {
	TEXT-DECORATION: underline
}
P.fermer A:hover {
	TEXT-DECORATION: underline
}
P.titre2 A {
	COLOR: #5b8097
}
P.titreaplat A {
	COLOR: #fff
}
P.i_menuh A {
	FONT-WEIGHT: normal
}
FIELDSET P.rupture A {
	COLOR: #000
}
UL.menu A {
	TEXT-DECORATION: none
}
UL.menu A:hover {
	TEXT-DECORATION: underline
}
UL.menu LI.sel A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #003d50; COLOR: #fff; PADDING-TOP: 0px
}
UL.a_menuappli LI A {
	PADDING-LEFT: 5px; BACKGROUND: url(../images/css/v3base/point.gif) no-repeat left top
}
UL.a_menuappli LI A {
	COLOR: #003d50
}
UL.a_menuappli LI A:visited {
	COLOR: #003d50; TEXT-DECORATION: none
}
UL.a_menuappli LI A:hover {
	COLOR: #2166ac; TEXT-DECORATION: underline
}
UL.a_menuappli LI.sel A {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
UL.a_menuappli LI.sel A {
	COLOR: #fff; TEXT-DECORATION: none
}
UL.a_menuappli LI.sel A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
UL.a_menuappli LI.sel A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
A.triasc SPAN {
	PADDING-RIGHT: 17px; BACKGROUND: url(../images/css/v3base/triasc.gif) no-repeat right center; FONT-WEIGHT: bold
}
A.triasc:hover SPAN {
	BACKGROUND: url(../images/css/v3base/triasc_hover.gif) no-repeat right center
}
A.tridesc SPAN {
	PADDING-RIGHT: 17px; BACKGROUND: url(../images/css/v3base/tridesc.gif) no-repeat right center; FONT-WEIGHT: bold
}
A.tridesc:hover SPAN {
	BACKGROUND: url(../images/css/v3base/tridesc_hover.gif) no-repeat right center
}
A.trioff SPAN {
	PADDING-RIGHT: 17px; BACKGROUND: url(../images/css/v3base/trioff.gif) no-repeat right center; FONT-WEIGHT: bold
}
DIV.a_blocappli TABLE.LISTE TH A.triasc SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-TOP: 0px
}
DIV.a_blocappli TABLE.LISTE TH A.tridesc SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-TOP: 0px
}
DIV.a_blocappli TABLE.LISTE TH A.trioff SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-TOP: 0px
}
.ALERTE A {
	TEXT-DECORATION: none
}
.ALERTE A:hover {
	COLOR: #ff1f00; TEXT-DECORATION: underline
}
DIV.blocariane {
	
}
DIV.i_blocredac {
	
}
DIV.blocboutons {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 25px
}
DIV.blocbulle {
	BORDER-BOTTOM: #2165ac 1px solid; POSITION: absolute; BORDER-LEFT: #2165ac 1px solid; BACKGROUND-COLOR: #f5f5fb; MARGIN: 0px; WIDTH: 200px; VISIBILITY: hidden; COLOR: #2165ac; BORDER-TOP: #2165ac 1px solid; TOP: 0px; BORDER-RIGHT: #2165ac 1px solid; LEFT: 0px
}
DIV.blocillustre {
	WIDTH: 100%; OVERFLOW: hidden
}
DIV.blocnotes {
	MARGIN: 20px 0px 0px; BORDER-TOP: #ccd5d4 1px solid; PADDING-TOP: 2px
}
DIV.blocpaginb {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; COLOR: #003d50; PADDING-TOP: 10px
}
DIV.blocpaginh {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; COLOR: #003d50; PADDING-TOP: 10px
}
DIV.blocpaginb EM.pgcou {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #327da8; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; PADDING-TOP: 0px
}
DIV.blocpaginh EM.pgcou {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #327da8; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; PADDING-TOP: 0px
}
DIV.perso {
	COLOR: #000
}
DIV.a_blocappli {
	BACKGROUND-COLOR: #f2f7f6
}
DIV.a_blocfctl {
	BORDER-BOTTOM: #2165ac 1px solid; BORDER-LEFT: #2165ac 1px solid; BACKGROUND-COLOR: #fff; MARGIN: 0px; CLEAR: both; BORDER-TOP: medium none; BORDER-RIGHT: #2165ac 1px solid
}
DIV.a_blocfctl DIV.a_blocfctl {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
DIV.a_blocongfond {
	BACKGROUND-COLOR: #f2f7f6; CLEAR: both
}
DIV.a_blocsongv DIV.a_blocongfond {
	BORDER-LEFT: #2165ac 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #a7a8d1 1px solid; PADDING-TOP: 5px
}
DIV.a_blocsongv {
	BACKGROUND-COLOR: #fff; WIDTH: 100%; BORDER-TOP: #fff 6px solid
}
DIV.a_blocongh {
	PADDING-BOTTOM: 10px; BACKGROUND: url(../images/css/v3base/a_blocongh.gif) #f2f7f6 repeat-x left top
}
DIV.a_blocongv {
	LEFT: 0px
}
DIV.a_blocfctltitre {
	BORDER-LEFT: #2165ac 1px solid; MARGIN-TOP: 10px; OVERFLOW: hidden; BORDER-RIGHT: #2165ac 1px solid
}
DIV.a_blocfctltitre UL.a_actions {
	BACKGROUND-COLOR: #fff
}
DIV.a_blocfctl DIV.a_blocfctltitre {
	BORDER-LEFT: medium none; BORDER-RIGHT: medium none
}
DIV.aplat2 DIV.bloctelft {
	MARGIN-LEFT: 10px
}
DIV.a_vide {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.a_vide P {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ffc; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; PADDING-TOP: 10px
}
DIV.i_bloccallback {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #058700; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
DIV.i_bloccallback P {
	COLOR: #fff
}
DIV.i_bloccallback P.call {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.i_blocctx {
	
}
DIV.bloctxt P A {
	COLOR: #003d50
}
DIV.i_blocaide {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
DIV.INFO {
	BACKGROUND: url(../images/css/v3base/icoastuce.gif) #ffc no-repeat left top
}
DIV.INFO {
	FONT-WEIGHT: normal
}
TH.INFO {
	FONT-WEIGHT: normal
}
TD.INFO {
	FONT-WEIGHT: normal
}
DIV.ALERTE {
	BACKGROUND: url(../images/css/v3base/icoattention.gif) #fcd9da no-repeat left top
}
DIV.ALERTE P {
	COLOR: #ff1f00; FONT-WEIGHT: normal
}
DIV.err {
	BACKGROUND: url(../images/css/v3base/icoerreur.gif) #fcd9da no-repeat left top; COLOR: #000; FONT-WEIGHT: normal
}
DIV.err P {
	COLOR: #000; FONT-WEIGHT: normal
}
DL {
	
}
DT {
	FONT-STYLE: normal; MARGIN: 15px 0px 4px; FONT-WEIGHT: bold
}
DL.argumentaire DT {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; MARGIN-BOTTOM: 10px; FONT-SIZE: 1.1em; PADDING-TOP: 3px
}
DL.argumentaire DT STRONG {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #fcd9da; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 2px
}
DL.lexique DT {
	FONT-STYLE: italic
}
DD {
	MARGIN-LEFT: 15px
}
IMG.BORD {
	BORDER-BOTTOM: #c4caca 1px solid; BORDER-LEFT: #c4caca 1px solid; BORDER-TOP: #c4caca 1px solid; BORDER-RIGHT: #c4caca 1px solid
}
A.masquer IMG {
	WIDTH: 15px; HEIGHT: 15px
}
A.afficher IMG {
	WIDTH: 15px; HEIGHT: 15px
}
DIV.blocboutons A.fg IMG {
	MARGIN-TOP: 5px
}
DIV.blocboutons A.fd IMG {
	MARGIN-TOP: 5px
}
DIV.blocboutons INPUT.fg {
	MARGIN-TOP: 5px
}
DIV.blocboutons INPUT.fd {
	MARGIN-TOP: 5px
}
LABEL.titlig {
	PADDING-RIGHT: 5px; WHITE-SPACE: nowrap; FONT-WEIGHT: bold
}
P.accroche {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
P.a_ariane {
	BORDER-BOTTOM: #888 1px solid; FONT-SIZE: x-small
}
P.a_titre1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #2165ac; FONT-SIZE: 1.6em; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
P.a_titre2 {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #2165ac; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
P.a_titre1rub {
	COLOR: #888; FONT-WEIGHT: bold
}
DIV.a_blocfctl DIV.a_blocfctltitre P.a_titre2 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
DIV.a_blocfctltitre P.a_options {
	POSITION: relative; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #2165ac; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: right; COLOR: #fff; PADDING-TOP: 0px
}
DIV.a_blocfctl DIV.a_blocfctltitre P.a_options {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: normal; PADDING-TOP: 1px
}
P.chapeau {
	FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
P.exple {
	FONT-STYLE: normal; COLOR: #333; MARGIN-LEFT: 30px
}
P.fermer {
	BORDER-BOTTOM: #2165ac 1px solid; MARGIN-BOTTOM: 20px
}
FIELDSET P.rupture {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: transparent !important; PADDING-LEFT: 2px; PADDING-RIGHT: 10px; COLOR: #000 !important; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
P.intro {
	MARGIN: 0px
}
P.introform {
	COLOR: #2165ac; FONT-WEIGHT: bold
}
P.i_menuh {
	TEXT-ALIGN: right; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fff; MARGIN: 5px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.1em; BORDER-TOP: #d7dcdc 1px solid; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
P.liensctx {
	TEXT-ALIGN: right; PADDING-BOTTOM: 3px; MARGIN: 3px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #5b8097; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
DIV.a_blocappli P.liensctx {
	COLOR: #000
}
DIV.a_blocappli P.liensctx A {
	COLOR: #003d50; FONT-WEIGHT: bold
}
DIV.a_blocappli P.liensctx A:hover {
	COLOR: #2166ac; FONT-WEIGHT: bold
}
DIV.i_blocredac P.liensctx {
	FONT-SIZE: 1.5em
}
P.NOTE {
	COLOR: #000; MARGIN-LEFT: 20px
}
DIV.blocnotes P {
	COLOR: #000; MARGIN-LEFT: 20px
}
DIV.blocnotes P {
	POSITION: relative
}
DIV.blocnotes P SPAN.renvoi {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 15px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/css/v3base/note-fds.gif) no-repeat left top; HEIGHT: 15px; TOP: 0px; PADDING-TOP: 1px; LEFT: -20px
}
P.notejuridique {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/css/v3base/notejuridique-fds.gif) no-repeat left top; COLOR: #666; MARGIN-LEFT: 0px
}
DIV.blocnotes P.notejuridique {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/css/v3base/notejuridique-fds.gif) no-repeat left top; COLOR: #666; MARGIN-LEFT: 0px
}
P.notejuridique SPAN {
	COLOR: #666
}
DIV.blocnotes P.notejuridique SPAN {
	COLOR: #666
}
P.restriction {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f2f7f6; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #003d50; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
P.rethaupag {
	TEXT-ALIGN: right; PADDING-BOTTOM: 5px; MARGIN: 20px 0px 0px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap
}
P.fermer {
	TEXT-ALIGN: right; PADDING-BOTTOM: 5px; MARGIN: 20px 0px 0px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap
}
P.rupture {
	PADDING-BOTTOM: 2px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
P.surtitre {
	TEXT-TRANSFORM: uppercase; MARGIN: 3px 0px; LETTER-SPACING: 5px; COLOR: #a8acae; FONT-SIZE: 0.95em; FONT-WEIGHT: bold
}
DIV.aplat2 DIV.bloctelft P.tarif {
	COLOR: #fff; FONT-SIZE: 0.9em
}
DIV.bloctelft P.tarif {
	COLOR: #000; FONT-SIZE: 0.9em
}
P.titreintro {
	MARGIN: 0px 0px 5px; FONT-WEIGHT: bold
}
P.titlig {
	TEXT-ALIGN: right; MARGIN: 0px; PADDING-RIGHT: 5px; FONT-WEIGHT: bold
}
P.titreaplat {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #2166ac; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
P.titre1 {
	FONT-STYLE: normal; MARGIN: 0px 0px 5px; COLOR: #2165ac; FONT-SIZE: 1.6em; FONT-WEIGHT: bold
}
.aplat1 .aplat1 P {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px
}
.aplat2 .aplat2 P {
	FONT-SIZE: 1.7em
}
.aplat2 P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #fff; PADDING-TOP: 3px
}
.aplat1 .aplat1 P.titre1 {
	COLOR: #fff; FONT-SIZE: 1.5em; PADDING-TOP: 8px
}
.aplat1 P.surtitre {
	COLOR: #fff; FONT-WEIGHT: normal
}
P.aplat1 P.titre2 {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 0px
}
.aplat2 P.titre2 {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 0px
}
.aplat2 P.titreaplat {
	BACKGROUND-COLOR: #41be3d; MARGIN: 0px; FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
DIV.blocillustre P.titre1 {
	MARGIN-TOP: 10px
}
DIV.blocillustre P.titre2 {
	MARGIN-TOP: 10px
}
P.titre2 {
	PADDING-BOTTOM: 2px; COLOR: #5b8097; MARGIN-LEFT: 0px; CLEAR: both; FONT-SIZE: 120%; FONT-WEIGHT: bold; MARGIN-RIGHT: 6px; PADDING-TOP: 18px
}
P.titre3 {
	MARGIN: 10px 0px 12px; FONT-WEIGHT: bold
}
P.titre4 {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/css/v3base/fds_h4.gif) repeat-x left bottom; FONT-WEIGHT: normal; PADDING-TOP: 1px
}
P.surtitrebloc {
	PADDING-BOTTOM: 2px; MARGIN: 20px 0px 5px; BACKGROUND: url(../images/css/v3base/titreblocaction.jpg) no-repeat left bottom
}
P.surtitrebloc SPAN {
	BORDER-BOTTOM: #dee4e4 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #5b8097; FONT-SIZE: 1.5em; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
DIV.a_blocappli DIV.bloctxt P {
	MARGIN: 5px 0px
}
TD.i_bloccold P.surtitrebloc {
	MARGIN-TOP: 0px
}
TABLE.LISTE TH P {
	TEXT-ALIGN: center; MARGIN: 0px; COLOR: #fff
}
TABLE.tab2dim TH.titcol P {
	COLOR: #2165ac
}
TABLE.tab2dim TH.titlig P {
	COLOR: #2165ac
}
TABLE.tab2dim TH.titcoin P {
	COLOR: #2165ac
}
SPAN.nowrap {
	COLOR: #000 !important
}
SPAN.doux {
	COLOR: #888
}
SPAN.oblig {
	PADDING-LEFT: 3px; COLOR: #ef3042
}
DIV.a_blocfctltitre P SPAN {
	COLOR: #fff
}
SPAN.etape {
	
}
DIV.a_blocfctltitre P.a_options A SPAN {
	COLOR: #fff
}
P.titre1 SPAN {
	COLOR: #000
}
P.titre2 SPAN {
	COLOR: #5b8097
}
P.surtitre SPAN {
	COLOR: #a8acae
}
P.titreaplat SPAN {
	COLOR: #fff
}
.aplat1 .aplat1 P.titre1 SPAN {
	COLOR: #fff
}
TABLE.FICHE {
	BACKGROUND-COLOR: #c4caca
}
TABLE.tab2dim {
	BACKGROUND-COLOR: #c4caca
}
TABLE.LISTE {
	BACKGROUND-COLOR: #c4caca
}
TABLE.LISTE {
	BORDER-SPACING: 0px; BORDER-COLLAPSE: collapse
}
HTML > BODY TABLE.LISTE {
	BORDER-BOTTOM: #c4caca 1px solid; BORDER-LEFT: #c4caca 1px solid; BORDER-TOP: #c4caca 1px solid; BORDER-RIGHT: #c4caca 1px solid
}
DIV.a_blocappli TABLE.LISTE TD {
	BACKGROUND-COLOR: #fff; VERTICAL-ALIGN: top
}
DIV.i_blocredac TABLE.LISTE TD {
	BACKGROUND-COLOR: #fff; VERTICAL-ALIGN: top
}
TABLE.tab2dim TD {
	BACKGROUND-COLOR: #fff; VERTICAL-ALIGN: top
}
DIV.a_blocappli TABLE.FICHE TD {
	FONT-WEIGHT: bold
}
DIV.i_blocredac TABLE.FICHE TD {
	FONT-WEIGHT: bold
}
FIELDSET TABLE TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.FICHE TH {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
DIV.a_blocappli TABLE.FICHE TD {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
DIV.i_blocredac TABLE.FICHE TD {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TABLE.FICHE TH {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #e8eff7; FONT-WEIGHT: normal
}
HTML > BODY TABLE.LISTE TH {
	BORDER-BOTTOM: #c4caca 0px solid; BORDER-LEFT: #c4caca 1px solid; BORDER-TOP: #c4caca 0px solid; BORDER-RIGHT: #c4caca 1px solid
}
HTML > BODY TABLE.LISTE TD {
	BORDER-BOTTOM: #c4caca 0px solid; BORDER-LEFT: #c4caca 1px solid; BORDER-TOP: #c4caca 0px solid; BORDER-RIGHT: #c4caca 1px solid
}
HTML > BODY TABLE.LISTE TH {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
HTML > BODY TABLE.LISTE TD.rupture {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
HTML > BODY TABLE.LISTE TD.tittot {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
HTML > BODY TABLE.LISTE TD.tot {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
TABLE.gouttieres TD.sep {
	BACKGROUND: url(../images/css/v3base/sepcol.gif) repeat-y left top
}
DIV.a_blocappli TABLE.LISTE TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
DIV.i_blocredac TABLE.LISTE TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.LISTE TH {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #336; PADDING-TOP: 10px
}
TABLE.LISTE TH SPAN {
	COLOR: #336
}
DIV.a_blocappli TABLE.LISTE TH {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; PADDING-RIGHT: 10px; COLOR: #336; PADDING-TOP: 10px
}
DIV.a_blocappli TABLE.LISTE TH SPAN {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; PADDING-RIGHT: 10px; COLOR: #336; PADDING-TOP: 10px
}
TABLE.LISTE TH.titcolgroup {
	BORDER-BOTTOM: #c4caca 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c4caca 1px solid; BACKGROUND-COLOR: #fff; COLOR: #2165ac; BORDER-TOP: #c4caca 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c4caca 1px solid
}
TABLE.tab2dim TH.titcolgroup {
	BORDER-BOTTOM: #c4caca 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c4caca 1px solid; BACKGROUND-COLOR: #fff; COLOR: #2165ac; BORDER-TOP: #c4caca 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c4caca 1px solid
}
TABLE.FICHE TH.titcolgroup {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #fff; COLOR: #2165ac; FONT-WEIGHT: bold
}
TABLE.LISTE TH.rupture {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
TABLE.tab2dim TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TABLE.tab2dim TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TABLE.tab2dim TH.INFO {
	PADDING-LEFT: 27px
}
TABLE.tab2dim TD.INFO {
	PADDING-LEFT: 27px
}
TABLE.FICHE TH.INFO {
	PADDING-LEFT: 27px
}
DIV.a_blocappli TABLE.FICHE TD.INFO {
	PADDING-LEFT: 27px
}
TABLE.tab2dim TH.titcol {
	BACKGROUND-COLOR: #fff; COLOR: #336
}
TABLE.tab2dim TH.titlig {
	BACKGROUND-COLOR: #fff; COLOR: #336
}
TABLE.tab2dim TH.titcoin {
	BACKGROUND-COLOR: #fff; COLOR: #336
}
TABLE.tab2dim TH.titcol {
	TEXT-ALIGN: center; FONT-WEIGHT: bold
}
TABLE.tab2dim TH.titlig {
	TEXT-ALIGN: left; PADDING-LEFT: 5px
}
TABLE.tab2dim TH.titcoin {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold
}
TD.vide {
	BACKGROUND-COLOR: #ddd !important
}
TABLE.LISTE TR.sel TD {
	BACKGROUND-COLOR: #ceceff !important; FONT-WEIGHT: bold
}
TABLE.LISTE TR.over TD {
	BACKGROUND-COLOR: #ffc !important
}
TABLE.over TR:hover TD {
	BACKGROUND-COLOR: #ffc !important
}
UL.arbo {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.arbo UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.arbo {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; OVERFLOW: auto; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
UL.arbo LI {
	MARGIN: 2px 3px 2px 0px; WHITE-SPACE: nowrap
}
UL.arbo UL {
	PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px
}
UL.arbo UL UL {
	PADDING-LEFT: 30px
}
UL.arbo UL UL UL {
	PADDING-LEFT: 45px
}
DIV.blocnotes UL.niv1 {
	MARGIN-LEFT: 26px
}
UL.menu {
	LIST-STYLE: disc url(../images/css/v3base/pcmenu.gif) outside; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.menu LI {
	MARGIN: 3px 0px
}
DIV.i_blocredac UL.menu {
	LIST-STYLE-TYPE: disc; MARGIN: 6px 0px; PADDING-LEFT: 20px; LIST-STYLE-IMAGE: url(../images/css/v3base/pcaction.gif)
}
DIV.i_blocredac UL.menu LI {
	MARGIN: 0px
}
UL.niv1 {
	MARGIN: 6px 0px; PADDING-LEFT: 20px
}
UL.niv1 LI {
	LIST-STYLE-IMAGE: url(../images/css/v3base/pcniv1.gif)
}
UL.niv2 {
	MARGIN-TOP: 3px; MARGIN-LEFT: 25px
}
UL.niv2 LI {
	LIST-STYLE-IMAGE: url(../images/css/v3base/pcniv2.gif)
}
UL.niv3 {
	LIST-STYLE-IMAGE: url(../images/css/v3base/pcniv3.gif)
}
UL.nodecal {
	PADDING-LEFT: 18px !important
}
UL.a_menuappli {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 5px 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
UL.a_menuappli LI {
	MARGIN: 3px 10px 3px 3px; FLOAT: left; HEIGHT: 15px
}
UL.a_menuappli LI.sel {
	BACKGROUND: #003d50; COLOR: #fff
}
DIV.a_blocongh UL LI {
	MARGIN: 0px 2px; PADDING-LEFT: 5px; BACKGROUND: url(../images/css/v3base/a_ohnsl.gif) no-repeat left top
}
DIV.a_blocongh UL LI.ina {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohinal.gif)
}
DIV.a_blocongh UL LI.recapina {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohinal.gif)
}
DIV.a_blocongh UL LI.sel {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohsl.gif)
}
DIV.a_blocongh UL LI.recapsel {
	BACKGROUND-IMAGE: url(../images/css/v3base/a_ohsl.gif)
}
DIV.a_blocongh UL LI.recapact {
	BACKGROUND: url(../images/css/v3base/a_ohnsl.gif) no-repeat left top
}
UL.a_menuappli LI.popaide {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 103px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.nodecal {
	PADDING-LEFT: 18px !important
}
DIV.bloccal {
	BORDER-BOTTOM: #2165ac 1px solid; BORDER-LEFT: #2165ac 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #2165ac 1px solid; BORDER-RIGHT: #2165ac 1px solid
}
DIV.bloccal DIV.blocmois {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #2165ac; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; WHITE-SPACE: nowrap; PADDING-TOP: 1px
}
DIV.bloccal SELECT {
	FONT-SIZE: 0.9em
}
DIV.bloccal INPUT {
	FONT-SIZE: 0.9em
}
DIV.bloccal TD A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #2165ac; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
DIV.bloccal TD SPAN {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #666; PADDING-TOP: 3px
}
DIV.bloccal TD A:hover {
	BACKGROUND-COLOR: #f5f5fb
}
DIV.bloccal TH {
	BORDER-BOTTOM: #2165ac 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-WEIGHT: normal; PADDING-TOP: 3px
}
DIV.bloccal TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.bloccal TD.sel A {
	BACKGROUND-COLOR: #2165ac
}
DIV.bloccal TD.sel A {
	COLOR: #fff
}
DIV.bloccal TD.sel A:hover {
	COLOR: #000
}
DIV.bloccal {
	FONT-SIZE: 0.7em
}
* HTML DIV.bloccal {
	FONT-SIZE: 1em
}
BODY DIV.bloccal {
	FONT-SIZE: 1em
}
DIV i_blocredac DIV.blocboutons {
	MARGIN: 18px 0px 10px; WIDTH: 100%; OVERFLOW: hidden
}
P.rethaupag {
	MARGIN: 18px 0px 10px; WIDTH: 100%; OVERFLOW: hidden
}
P.fermer {
	MARGIN: 18px 0px 10px; WIDTH: 100%; OVERFLOW: hidden
}
DIV i_blocredac DIV.blocboutons A {
	FLOAT: right; COLOR: #2166ac; TEXT-DECORATION: none
}
P.rethaupag A {
	FLOAT: right; COLOR: #2166ac; TEXT-DECORATION: none
}
P.fermer A {
	FLOAT: right; COLOR: #2166ac; TEXT-DECORATION: none
}
DIV i_blocredac DIV.blocboutons A:hover {
	COLOR: #fd2100; TEXT-DECORATION: underline
}
P.rethaupag A:hover {
	COLOR: #fd2100; TEXT-DECORATION: underline
}
P.fermer A:hover {
	COLOR: #fd2100; TEXT-DECORATION: underline
}
UL.listefluide {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.listefluide LI.item {
	BORDER-BOTTOM: #2165ac 1px solid; BORDER-LEFT: #2165ac 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #2165ac 1px solid; BORDER-RIGHT: #2165ac 1px solid; PADDING-TOP: 3px
}
UL.listefluide LI.item DIV.blocillustre {
	WIDTH: 140px; MARGIN-LEFT: 5px
}
UL.listefluide LI DIV.BORD {
	BACKGROUND-COLOR: transparent !important
}
* HTML DIV.a_blocappli DIV.a_blocfctl {
	WIDTH: 100%
}
* HTML DIV.blocboutons {
	WIDTH: 100%
}
* HTML DIV.a_blocfctl {
	WIDTH: 100%
}
* HTML DIV.i_blocaide {
	WIDTH: 100%
}
* HTML DIV.a_blocappli {
	WIDTH: 100%
}
* HTML UL.a_menuappli LI.popaide A {
	FLOAT: right
}
* HTML FIELDSET {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px
}
* HTML INPUT {
	PADDING-RIGHT: 3px
}
TD.doux {
	COLOR: #888
}
TH.INFO {
	BACKGROUND: url(../images/css/v3base/icoastuce.gif) #ffc no-repeat left top
}
TD.INFO {
	BACKGROUND: url(../images/css/v3base/icoastuce.gif) #ffc no-repeat left top
}
TABLE.LISTE TH.INFO {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 27px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TABLE.LISTE TD.INFO {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 27px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
DIV.a_blocappli TABLE.LISTE TD.INFO {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 27px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
DIV.i_blocredac TABLE.LISTE TD.INFO {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 27px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
UL.nodecal {
	PADDING-LEFT: 10px !important
}
:unknown UL.nodecal {
	PADDING-LEFT: 18px !important
}
:unknown UL.menu {
	PADDING-LEFT: 18px !important
}
:unknown DIV.a_blocongh UL A {
	
}
:unknown DIV.a_blocongh UL SPAN {
	
}
:unknown A.triasc {
	WIDTH: auto; DISPLAY: block
}
:unknown A.trioff {
	WIDTH: auto; DISPLAY: block
}
:unknown A.tridesc {
	WIDTH: auto; DISPLAY: block
}
:unknown A.triasc SPAN {
	DISPLAY: block
}
:unknown A.trioff SPAN {
	DISPLAY: block
}
:unknown A.tridesc SPAN {
	DISPLAY: block
}
:unknown UL.a_menuappli {
	DISPLAY: table
}
:unknown DIV.a_blocongh UL {
	DISPLAY: table
}
:unknown UL.a_actions {
	DISPLAY: table
}
:unknown DIV.a_blocongh UL LI {
	MARGIN-BOTTOM: 0px
}
