@media(min-width: 576px) {

    .guide .banner-img,
    .sustainable-production .banner-img {
        min-height: 300px;
    }
}

@media (max-width:1200px) {
    .page-template-page-science .content h1 {
        margin-bottom: 40px;
        font-size: 35px;
    }
}

@media (max-width:992px) {
    .term-motifs-de-housses-imprimees #chatra.chatra--side-bottom {
        bottom: 50px !important;
        left: auto;
        right: 20px;
    }

    .experts-opinions .single-opinion .opinion-body h3 {
        min-height: auto;
    }

    .blanket-box .btn-blue {
        margin-left: auto;
        margin-right: auto;
    }

    .page-template-page-science .content h1 {
        font-size: 28px;
    }

    .comprasion-item {
        float: left;
        width: 50%;
    }

    .main-nav .container {
        max-width: calc(100% - 60px);
    }

    .main-menu.parent {
        display: none;
    }

    .show-menu {
        display: flex;
    }

    .gravity-search-result {
        height: 80vh;
        overflow-y: scroll;
    }

    .gravity-search-result .col-xl-4 {
        margin-top: 30px;
    }

    .experts-opinions .single-opinion:not(:last-of-type) {
        margin-bottom: 60px;
    }

    .about-blankets {
        height: 600px;
    }

    .about-blankets .description {
        width: 100%;
        top: 60%;
        transform: translateY(-50%);
    }

    .about-blankets img {
        width: 100%;
        height: 50%;
    }

    .comparison-product .user-time .comprasion-cell {
        width: 100%;
    }

    .comprasion-item .comprasion-cell {
        margin-bottom: 30px;
    }
}

@media (max-width:768px) {
    .blankets-collections .blankets-category {
        padding: 30px 20px;
    }

    .sustainable-production .heading-with-icon {
        flex-direction: column;
        justify-content: center;
    }

    /* koldra premium balance outline */
    .postid-82309 .rtwpvg-images,
    .postid-86041 .rtwpvg-images {
        margin-bottom: 45px;
    }

    /* slajder ze zdjęciami produktu */
    .rtwpvg-wrapper .rtwpvg-slider-wrapper .rtwpvg-slider-next-arrow {
        right: 0 !important;
    }

    .rtwpvg-wrapper .rtwpvg-slider-wrapper .rtwpvg-slider-prev-arrow {
        left: 0 !important;
    }

    .gravity-image-text {
        margin: 20px 0;
    }

    .gravity-faq-icon img {
        width: 80px;
    }

    .content-image-text p {
        text-align: center !important;
    }

    .content-image-text h2,
    .gravity-column-text h2 {
        text-align: center !important;
    }

    .comparison-product .comprasion-item {
        padding: 0 10px;
        float: left;
    }

    .comprasion-item.balance,
    .comprasion-item.basic {
        padding-left: 0;
    }

    .comprasion-item.gravity,
    .comprasion-item.senso-rex {
        padding-right: 0;
    }

    .comprasion-item .weight {
        min-height: 306px;
    }

    .comprasion-item .inlett {
        min-height: 280px;
    }

    .comprasion-item .destination {
        min-height: 276px;
    }

    .comprasion-item .fastening {
        min-height: 257px;
    }

    .comprasion-item .wash {
        min-height: 253px;
    }

    .comprasion-item .cover {
        min-height: 220px;
    }

    .comprasion-item .inlett {
        min-height: 180px;
    }

    .gravity-accordion .accordion-button {
        font-size: 18px;
    }

    #productTab .nav-item {
        width: 100%;
    }

    .reviews-section #commentform>.comment-form-author,
    .reviews-section #commentform>.comment-form-email {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .gr-single-post {
        padding: 100px 0 100px;
    }

    .top-article-bar {
        display: none;
    }

    .error404 .page-preview {
        margin: 140px 0;
    }

    .about-blankets .white-box {
        max-width: 90%;
        padding: 30px 20px;
    }

    .home-content .carousel-inner .carousel-item>div {
        display: none;
    }

    .home-content .carousel-inner .carousel-item>div:first-child {
        display: block;
    }

    #recipeCarousel .carousel-control-prev {
        left: 0;
    }

    #recipeCarousel .carousel-control-next {
        right: 0;
    }

    .gravity-search-item {
        max-width: 50%;
    }

    .gravity-search-product-list .gravity-search-item:last-child {
        display: none;
    }
}

@media (min-width: 768px) {

    .home-content .carousel-inner .carousel-item-end.active,
    .home-content .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .home-content .carousel-inner .carousel-item-start.active,
    .home-content .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

@media (max-width:576px) {

    .gravity-product-cat .cat-item,
    .blankets-collections .blankets-category {
        height: 350px;
    }

    .guide .banner-img {
        background-image: url('../img/couverture-lestee-banner-mobile.jpg');
        background-position: 45%;
    }

    .main-nav .container {
        max-width: calc(100% - 20px);
    }

    .main-nav .helper li {
        margin-left: 15px;
    }

    .footer-title {
        display: inline-block;
    }

    .footer-title::before {
        left: 50%;
        transform: translateX(-50%)
    }

    .page-footer .menu-item:not(:last-child) {
        margin-bottom: 8px;
    }

    .about-blankets {
        height: 700px;
    }
}

@media (max-width:499px) {
    .comparison-product .btn.btn-blue {
        font-size: 11px;
        padding: 15px;
    }

    .comprasion-item h2 {
        min-height: 48px;
    }
}

@media (max-width:419px) {
    .thwvsf-wrapper-ul [data-attribute_name*="couleur"] {
        width: calc(33% - 8px) !important;
    }
}

@media (max-width:350px) {
    .thwvsf-wrapper-ul [data-attribute_name*="couleur"] {
        width: calc(50% - 8px) !important;
    }
}