.regular-price {
    display:none !important;
}

.flexslider {
    margin-bottom: 20px;
}

.flex-viewport .slides li {
    height: 442px;
}

.flex-viewport .slides li img {
    height: 100%;
    object-fit: contain;
}

.flexslider.flexslider-carousel .slides li {
    height: 175px;
}

.flexslider.flexslider-carousel .slides li img {
    height: 100%;
    object-fit: cover;
}

.product-info form label {
    box-shadow: 0 0 0 1px #d1d7da;
    padding: 10px;
    border-radius: 3px;
    margin: 4px 8px 4px 0;
    cursor: pointer;
}

.product-info form .form-group {
    display: flex;
    flex-wrap: wrap;
}

.product-info label.active {
    box-shadow: 0 0 0 2px #8b98a6;
}

.product-info form input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.product-info form fieldset {
    text-align: left;
}

.product-info form legend {
    width: 20%;
    float: left;
    font-size: 16px;
    font-weight: 600;
}

.product-info form .form-group {
    float: right;
    width: 80%;
}

.product-info .form-group p:first-of-type {
    order: 7;
}

.product-info .form-group p:nth-of-type(2) {
    order: 1;
}

.product-info .form-group p:nth-of-type(3) {
    order: 8;
}

.product-info label.product_colour_label {
    width: 45px;
    height: 45px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.product-info label:hover {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 3px #b7bfc6;
}

.product-info img.product_colour_label {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.color_toggle {
    color: #0096dc;
    font-size: 14px;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    border: 1px solid #0096dc;
}

.tooltiptext {
    background-color: #000;
    color: #fff;
    min-width: 140px;
    padding: 5px 10px;
    width: auto;
}

/*.regular-price {
    display: none !important;
} */

.flexslider {
    margin-bottom: 20px;
}

.flex-viewport .slides li {
    height: 442px;
}

.flex-viewport .slides li img {
    height: 100%;
    object-fit: contain;
}

.flexslider.flexslider-carousel .slides li {
    height: 175px;
}

.flexslider.flexslider-carousel .slides li img {
    height: 100%;
    object-fit: cover;
}

.product-info form label {
    box-shadow: 0 0 0 1px #d1d7da;
    padding: 10px;
    border-radius: 3px;
    margin: 4px 8px 4px 0;
    cursor: pointer;
}

.product-info label.active {
    box-shadow: 0 0 0 2px #8b98a6;
}

.product-info form input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.product-info form fieldset {
    text-align: left;
}

.product-info form legend {
    width: 20%;
    float: left;
    font-size: 16px;
    font-weight: 600;
}

.product-info form .form-group {
    float: right;
    width: 80%;
}

.product-info label[data-value="Rose"],
.product-info label[data-value="Herbes"],
.product-info label[data-value="Energy pattern"],
.product-info label[data-value="Poseidon Blue"],
/*.product-info label[data-value="Poseidon – le set (Toutes saisons + Été)"],*/
.product-info label[data-value="Raspberry sorbet"],
.product-info label[data-value="Summer sun"],
.product-info label[data-value="Crème brûlée"],
.product-info label[data-value="Dark Green"],
.product-info label[data-value="Dark Green (all year) + Poseidon (summer) – set"] {
    display: none !important;
}

.product-info .form-group p.toutes {
    order: 1 !important;
}

.product-info label[data-value="Gris"] {
    order: 2;
}

.product-info label[data-value="Poseidon"] {
    order: 3;
}

.product-info label[data-value="Goblin Blue"] {
    order: 4;
}

.product-info label[data-value="BOA"] {
    order: 5;
}

.product-info label[data-value="Gris foncé"] {
    display: none;
}

.product-info .form-group p:nth-of-type(2) {
    order: 6;
}

.product-info label[data-value="Gris - été"] {
    order: 7;
}

.product-info label[data-value="Poseidon - été"] {
    order: 8;
}

.product-info label[data-value="Calm"] {
    order: 9;
}

.product-info label[data-value="Harmony"] {
    order: 10;
}

.product-info label[data-value="Soul"] {
    order: 11;
}

.product-info .form-group p:nth-of-type(3) {
    order: 11;
}

